*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}
body{
    
    background-color: bisque;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


main {
  width: 100%;
 flex: 1;

  margin: 2rem auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

main h1 {
  font-size: 5rem;
  margin: 2rem 0;
}

main .parrafo-home {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 2rem;
  width: 80%;
}
.header{
    background-color: azure;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo{
    padding: 1rem;
    font-weight: bold;
    font-size: 6rem;
    margin-left: 2rem;
}

.header__nav {
  padding: 1rem;
  margin-right: 2rem;
}

.header__nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.header__nav li {
  font-size: 2rem;
  font-weight: bold;
  margin: 8px;
}

.header__nav a {
  color: #f7bb2b;
  text-decoration: none;
  display: inline-block;
  padding: 1rem;
}

.titulo-home{
    color:palevioletred;
    font-size: 8rem ;
    text-align: center;
}


img {
  width: 45rem;
  height: 50rem;
  object-fit: cover;
}
   




.parrafo-home {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2rem;
    width: 50%;
}

.productos-home{
    width: 100%;
}
.productos-home h2{
  text-decoration: underline;
  text-decoration-color: blueviolet;
  text-decoration-style: wavy;
  text-decoration-thickness: 3px;
    text-align: center;
    font-size: 4rem;
    padding: 7rem;
    margin: 2rem;
}
.contenedor-tarjetas{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 7rem;
}


.tarjeta-productos {

  background-color: rgb(228, 136, 136);
  padding: 3rem;
  border-radius: 1rem;
  width: 60rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

}

.tarjeta-productos img {
  width: 300px;
  height: 200px;

  border: 1px solid;
  margin-bottom: 20px;
}

.tarjeta-productos h3 {
  font-size: 3.5em;
}


.tarjeta-productos p {
  font-size: 3.5rem;
  font-weight: bold;
}

.fa-cart-shopping {
font-size: 3rem;

}


.anadir-boton {
  background-color:palevioletred;
  color: black;
  border:none;
  font-size:3rem;
}


.footer{
    background-color: azure;
    font-size: 2rem;
    color:green;
    padding:1rem;
    justify-content: space-between;
    align-items: center;
    
}
.footer p {
  font-size: 4rem;
  text-align: center;
}



  .footer i{
    color:#B197FC;
    font-size: 1.5rem;
    margin-right: 10px;
    
  } 

                 /*contacto*/

  *{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}
body{
    
    background-color: bisque;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.header__nav li {
  font-size: 2rem;
  font-weight: bold;
  margin: 8px;
}

.header__nav a {
  color: #f7bb2b;
  text-decoration: none;
  display: inline-block;
  padding: 1rem;
}

.seccion-contacto h1{

  color:#B197FC;
  font-size: 4rem;
}


.form {

  background-color: violet;
  width: 100%;
  max-width: 50rem;
  font-size: 2rem;
  padding:3rem;
  border-radius:2rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  color: #5a3abb; 
  box-shadow: 0 10px 30px blue;

}

.campo-form{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
}
 

.btn{
  border:none;
  color:#5a3abb;
  font-size: 2.5rem;
  border-bottom-style: 2px;
  background-color: transparent;

}

@media (max-width:768px) {
  .header {
    display: flex;
    flex-direction: column;
  }

  .header__logo,
  .header__nav {
    margin: 0;
  
  }
  .contenedor-tarjetas{

  display: flex;
  flex-direction: column;
  align-items: center;

     }

  .tarjeta-productos{
    width: 80%;

  }
  .form{
    width: 80%;
    min-width: 400px;
  }
}

  

  



